name: Test

on:
  push:
    branches:
      - main
    paths:
      - "**/*.go"
  pull_request:
    paths:
      - "**/*.go"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Run tests
        run: go test -v ./... # Run all tests in all modules
